# Dependencies
node_modules/

# Build output
dist/

# Astro generated types
.astro/

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
